 /* Create.css */
 /* Add this CSS to your stylesheet or in-line style */
.home-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-list-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
  }
  
  .search-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  .action-buttons .btn {
    margin-right: 5px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 8px 15px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination-button:hover {
    background-color: #0056b3;
  }
  
.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .create-form {
    width: 50%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  /* Pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button.active {
    background-color: #0056b3;
    font-weight: bold;
  }
  